.form {
    display: flex;
    flex-direction: column;
    background-color:#fff;

    button {
        border-radius: 12px;
        display: flex;
        padding: 18.5px 18.5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 30px;
        background-color: #ff7757;
        color: #fff;
        font-family: Playfair Display;
        @media (max-width: 768px) {
          padding: 15px 15px;
        }
      }
      .inputContainer {
        display: flex;
        position: relative;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .labelFocused {
        color: #ff7757;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        z-index: 5;
        top: -25px;
        left: 20px;
        width: fit-content;
        transition: all 0.3s ease; 
      }
      
      label {
        color: #ff7757;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: absolute;
        z-index: 5;
        top: 25px;
        left: 40px;
        transition: all 0.3s ease; 
      }
      .input {
        display: flex;
        padding: 24px 40px;
        align-items: center;
        align-self: stretch;
        border-radius: 12px;
        background: #ffe8d4;
        color: #ff7757;
        font-family: Rubik;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all 0.3s ease;
        min-width: 500px;
        @media (max-width: 768px) {
          padding: 24px 20px;
          min-width: none;
        }
        @media (max-width: 600px) {
          margin-bottom: 20px;
          min-width: 100%;
        }
      }
  }