.title {
  color: #172432;
  font-family: Playfair Display;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media (max-width:768px){
    font-size: 48px;

  }
  @media (max-width:425px){
    font-size: 38px;

  }
}
