.mainImage {
  position: relative;
  height: 100vh; /* Set the height to the viewport height */
  overflow: hidden; /* Hide any overflow if the image is larger than the viewport */

  img {
    object-fit: cover; /* Cover the entire container while maintaining aspect ratio */
    width: 100%; /* Take the full width of the container */
    height: 100%; /* Take the full height of the container */
    position: absolute;
    z-index: -1;
  }
}
.mainContent {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
