.mainText {
   display: flex;
   text-align: flex-end;
   flex-direction: column;
   padding-top: 300px;
   padding-bottom: 100px;
   @media (max-width:768px) {
    padding-top: 100px;
    padding-bottom: 50px;
    
   }

 
  .mainTitle {
    color: #fff;
    font-family: Playfair Display;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 10px;
    @media (max-width:1024px) {
        font-size: 45px;
        
    }
  }
  .mainDescription {
    color: #fff;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
