.bookContainer {
  width: 100%;
  display: flex;
  max-width: 1200px;
  padding-left: 0px;
  min-height: 176px;
  border-radius: 0px 20px 20px 0px;
  background: #fff;
  margin-bottom: 100px;
  max-width: fit-content;

  @media (max-width: 768px) {
    display: flex;
    padding: 20px 0px 0px 0px;
    margin-top: 100px;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 100px;
    max-width: 1200px;
    width: 100%;
  }
  .bookForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  .bookButton {
    border-radius: 0px 20px 20px 0px;
    background: #ff7757;
    padding: 10px 10px;
    min-height: 200px;
    cursor: pointer;
    @media (max-width: 768px) {
      display: flex;
      padding: 0;
      min-height: 0;
      width: 100%;
      border-radius: 0px 0px 16px 16px;
      padding: 20px;
      background: #ff7757;
      cursor: pointer;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span {
      color: #fff;
      font-family: Playfair Display;
      font-size: 36px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 768px) {
        margin-right: 10px;
      }
    }
  }
  .itemSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 10px;
    @media (max-width: 768px) {
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }

  .label {
    color: #767e86;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: start;
    text-align: center;
    border-bottom: 1px solid #000;
    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
