.customSwiperButtonNext {
    display: flex;
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    border-radius: 12px;
    background: #FF7757;
    cursor: pointer;
  }