@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display:wght@400;500;600&family=Rubik:wght@400;500&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
  font-family: 'Playfair Display', serif;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
}



/* Reset.css */

/* Box sizing border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margin and padding for all elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li,
fieldset,
legend,
button,
input,
textarea,
pre,
code,
abbr,
mark,
small,
sub,
sup,
strong,
b,
i,
u,
s,
em,
sub,
sup {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Remove default font styles */


/* Remove default button styles */
button {
  border: none;
  padding: 0;
}

/* Remove default input styles */
input,
textarea,
select {
  border: none;
  outline: none;
}

/* Additional styles to ensure a consistent base */

html {
  font-size: 100%; /* Adjust based on your preference */
}

body {
  line-height: 1.5;
  color: #333; /* Set a default text color */
  background-color: #fff; /* Set a default background color */
}

/* Set default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Set a consistent box-sizing for all elements */
html {
  box-sizing: border-box;
}

/* Set a max-width and center the content */


